@using Microsoft.AspNetCore.Identity
@using Daily_Metting.Models


<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-text mx-3">
            <img class="logoPrettl" src="~/img/logo.png" />
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a asp-controller="Home" asp-action="Index" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Submissions
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a asp-controller="Member" asp-action="AddSubmission" class="nav-link collapsed">
            <i class="fas fa-fw fa-cog"></i>
            <span>Add Submission</span>
        </a>
    </li>

    <li class="nav-item">
        <a asp-controller="Member" asp-action="UploadSubmission" class="nav-link collapsed">
            <i class="fas fa-fw fa-cog"></i>
            <span>Upload Submission</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" asp-controller="Member" asp-action="History" >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Old Submissions</span>
        </a>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" asp-controller="Member" asp-action="Attendance">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Attendance</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->